# Decrypt secret
SECRET_KEY="uw8iDFHFNjbIU8gPGMByTLiFfXJex7E1"

# Database Configuration
MONGODB_URI=mongodb://localhost:27017?retryWrites=true&w=majority
MONGODB_DB=hacado

PUBLIC_DOMAIN=hacado.me
ADMIN_DOMAIN=app.hacado.com
APPS_EXTERNAL_DOMAIN=apps.hacado.com

# Stripe Connect webhook signing secret for {APPS_EXTERNAL_URL}/api/webhooks/apps/name/stripe
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=

# Square webhook signature key for {APPS_EXTERNAL_URL}/api/webhooks/apps/name/square
SQUARE_APP_WEBHOOK_SIGNATURE_KEY=
SQUARE_ENVIRONMENT=sandbox

# Platform TextBelt API key (HMAC verify for /api/webhooks/platform/textbelt/{orgId})
TEXTBELT_API_KEY=

PAYPAL_ENVIRONMENT=sandbox
